<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Financial Aid Allocation"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Activities.FacultyMemberDashboard"
            android:exported="false" />
        <activity
            android:name=".Activities.AddPolicies"
            android:exported="false" />
        <activity
            android:name=".Activities.AddStudent"
            android:exported="false" />
        <activity
            android:name=".Activities.Policies"
            android:exported="false" />
        <activity
            android:name=".Activities.StudentRecord"
            android:exported="false" />
        <activity
            android:name=".Activities.Budget"
            android:exported="false" />
        <activity
            android:name=".Activities.Grader"
            android:exported="false" />
        <activity
            android:name=".Activities.CommiteeMember"
            android:exported="false" />
        <activity
            android:name=".Activities.RejectedApplication"
            android:exported="false" />
        <activity
            android:name=".Activities.AcceptedApplication"
            android:exported="false" />
        <activity
            android:name=".Activities.NeedbaseApplication"
            android:exported="false" />
        <activity
            android:name=".Activities.Meritbaseshortlisting"
            android:exported="false" />
        <activity
            android:name=".Activities.AdminDashboard"
            android:exported="false" />
        <activity
            android:name=".Activities.CommitteeMemberDashboard"
            android:exported="false" />
        <activity
            android:name=".Activities.personalInfo"
            android:exported="false" />
        <activity
            android:name=".Activities.applyforschloarship"
            android:exported="false" />
        <activity
            android:name=".Activities.StudentDashboard"
            android:exported="false" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>